* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Helvetica Neue, sans-serif;
}

body {
  min-height: 100vh;
  background-color: #2f0624;
}

.landing {
  width: 100%;
  height: 100vh;
  text-align: center;
}

.landing__wrapper {
  position: relative;
  padding: 50px 0;
  top: 50%;
  transform: translateY(-50%);
}

.landing__wrapper--reduce {
  top: auto;
  transform: translate3d(0,0,0);
}

.landing__heading {
  position: relative;
  z-index: 2;
  font-size: 45px;
  font-weight: 100;
  color: #fff;
}

.landing__heading span {
  font-weight: 300;
  margin-left: 2px;
}

.landing__form {
  position: relative;
  z-index: 2;
}

.landing__search {
  padding: 15px 24px;
  font-family: Helvetica Neue, sans-serif;
  width: 100%;
  max-width: 500px;
  margin-top: 15px;
  font-size: 18px;
  background-color: transparent;
  color: #d4d4d4;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 35px;
  transition: border 300ms ease;
}

.landing__search:focus {
  border: 1px solid rgba(255, 255, 255, 0.8);
  outline: 0;
}

.meta {
  display: none;
}

.gifs {
  padding: 50px;
}

.gif-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -30px;
  
  /* Inline-block fallback */
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;
}

.gif {
  position: relative;
  overflow: hidden;
  box-shadow: 0 5px 11px rgba(0, 0, 0, 0.2);
  background-color: #000;

  flex: 0 0 auto;
  width: calc(25% - 30px);
  height: 312.5px;
  margin-left: 30px;
  margin-bottom: 30px;
  display: block;  /* IE fix */
  
  /* Inline-block fallback */
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
  text-rendering: auto;
}

.gif__image {
  height: 100%;
}

.gif__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gif__meta {
  position: absolute;
  bottom: 0;
  background: #000;
  width: 100%;
  padding: 20px;
  word-wrap: break-word;
  font-size: 0;
}

.gif__tags {
  color: #fff;
  width: 33.333%;
  display: inline-block;
}

.gif__url {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: #fff;
  text-align: center;
  line-height: 335px;
  opacity: 0;
  transition: all 300ms ease;
}

.gif:hover .gif__url {
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
}

.gif__url svg {
  width: 40px;
  fill: #fff;
}

.load-more {
  font-family: Helvetica Neue, sans-serif;
  padding: 20px;
  font-size: 14px;
  background-color: #EA4C89;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0;
  border: 0;
  width: 100%;
  cursor: pointer;
  display: none;
  transition: 
    background-color 300ms ease,
    opacity 1000ms ease;
}

.load-more:hover {
  background-color: #b3285e;
}

.load-more:focus {
  outline: 0;
}

.load-more--display {
  opacity: 1;
  display: block;
}

.info,
.twitter {
  position: fixed;
  top: 0;
  right: 0;
  padding: 15px 15px 12px 15px;
  z-index: 3;
  transition:
    background-color 300ms ease;
}

@media screen and (max-width: 500px) {
  .info,
  .twitter {
    position: absolute;
    z-index: 2;
  }
}

@media screen and (max-width: 500px) {
 .info {
  right: 40px;
 } 
}

.twitter {
  top: 45px;
}

@media screen and (max-width: 500px) {
 .twitter {
  top: 0;
 } 
}

.info svg,
.twitter svg {
  width: 30px;
  height: 30px;
  fill: #fff;
  transition:
    fill 300ms ease;
}

@media screen and (max-width: 500px) {
 .info svg,
 .twitter svg {
  width: 20px;
  fill: #333;
 } 
}

.info:hover svg,
.twitter:hover svg {
  fill: #333;
}

