* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Helvetica Neue, sans-serif;
}

body {
  min-height: 100vh;
  overflow: auto;
  background-image: linear-gradient(155deg, rgba(97, 62, 178, 0.83), #c13c73);
  background: linear-gradient(90deg, #7d5ebd, #c13c73, #c5915f);
  background-size: 600% 600%;
  animation: gradient-animation 30s ease infinite;
}

@keyframes gradient-animation { 
    10% { background-position: 0 48% }
    50% { background-position: 100% 53% }
    100% { background-position: 0 48% }
}

@keyframes fadein {
  from { 
    opacity: 0;
    transform: translate3d(0, 10px, 0);
  }
  
  to { 
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.body--block {
  background-image: linear-gradient(155deg, rgba(97, 62, 178, 0.83), #c13c73);
  animation: none;
}

.landing {
  width: 100%;
  height: 100vh;
  padding: 0 20px;
  text-align: center;
  display: none;
}

.body--display .landing {
  display: block;
}

.landing__wrapper {
  position: relative;
  padding: 50px 0;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 500px) {
  .landing__wrapper {
    padding: 0 0 30px;
  }
}

.landing__wrapper--reduce {
  top: auto;
  transform: translate3d(0,0,0);
}

@media screen and (max-width: 500px) {
  .landing__wrapper--reduce {
    padding-top: 30px;
  }
}

.landing__heading {
  position: relative;
  z-index: 2;
  font-size: 45px;
  font-weight: 100;
  color: #fff;
  animation: fadein 1s;
}

.landing__heading span {
  font-weight: 300;
  margin-left: 2px;
}

.landing__form {
  position: relative;
  z-index: 2;
  animation: fadein 1s;
}

.landing__search {
  padding: 15px 24px;
  font-family: Helvetica Neue, sans-serif;
  width: 100%;
  max-width: 500px;
  margin-top: 15px;
  font-size: 18px;
  background-color: transparent;
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 35px;
  transition: border-color 300ms ease;
  animation: fadein 1s;
}

::-webkit-input-placeholder {
   color: rgba(255, 255, 255, 0.6);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(255, 255, 255, 0.9);  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255, 255, 255, 0.9);  
}

:-ms-input-placeholder {  
   color: rgba(255, 255, 255, 0.9);  
}

.landing__search:focus {
  border-color: rgba(255, 255, 255, 0.8);
  outline: 0;
}

.landing__credit {
  color: rgba(255, 255, 255, 0.71);
  font-size: 9px;
  text-transform: uppercase;
  margin-top: 20px;
  letter-spacing: 2px;
  animation: fadein 1s;
}

.landing__credit a {
  color: rgba(255, 255, 255, 0.85);
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding-bottom: 2px;
  padding-left: 1px;
  transition:
    border-color 300ms ease,
    color 300ms ease;
}

.landing__credit a:hover {
  color: #fff;
  border-color: #fff;
}

.landing__no-results {
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  width: 200px;
  padding: 13px;
  margin: 20px auto auto;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 500;
  background-color: #ff9c44;
  display: none;
}

.landing__no-results--display {
  display: inline-block;
}

.meta {
  display: none;
}

.gifs {
  padding: 50px;
}

@media screen and (max-width: 850px) {
  .gifs {
    padding: 0 0 20px 0;
  }
}

.gif-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -30px;
  
  // Fallback
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;
}

@media screen and (max-width: 500px) {
  .gif-list {
    margin-left: -20px;
  }
}

.gif {
  position: relative;
  overflow: hidden;
  box-shadow: 0 5px 11px rgba(0, 0, 0, 0.2);
  background-color: #714d9e;
  flex: 0 0 auto;
  width: calc(25% - 30px);
  height: 312.5px;
  margin-left: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
  display: block;
  transition:
    transform 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000),
    box-shadow 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
  
  // Fallback
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
  text-rendering: auto;
}

@media screen and (min-width: 770px) {
  .gif:hover {
    box-shadow: 0 5px 11px rgba(0, 0, 0, 0.3);
    transform: perspective( 600px ) rotateX( 6deg );
  }

  .gif:hover .gif__url {
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
  }
}

@media screen and (max-width: 500px) {
  .gif {
    width: calc(50% - 20px);
    margin-left: 20px;
    margin-bottom: 20px;
  }
}

.gif__image {
  height: 100%;
}

.gif__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gif__meta {
  position: absolute;
  bottom: 0;
  background: #000;
  width: 100%;
  padding: 20px;
  word-wrap: break-word;
  font-size: 0;
}

.gif__tags {
  color: #fff;
  width: 33.333%;
  display: inline-block;
}

.gif__url {
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 101%;
  background-color: transparent;
  color: #fff;
  text-align: center;
  line-height: 335px;
  opacity: 0;
  transition: all 300ms ease;
  border-radius: 20px;
}

.gif__url svg {
  width: 40px;
  height: 100%;
  fill: #fff;
}

.load-more {
  font-family: Helvetica Neue, sans-serif;
  padding: 20px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  letter-spacing: 2px;
  min-width: 200px;
  margin: 0 auto;
  cursor: pointer;
  display: none;
  background-color: transparent;
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 35px;
  transition: 
    background-color 300ms ease,
    border 300ms ease,
    opacity 1000ms ease;
}

.load-more:hover {
  background-color: rgba(255, 255, 255, 0.08);
  border: 2px solid rgba(255, 255, 255, 0.8);
}

.load-more:focus {
  outline: 0;
}

.load-more--display {
  display: block;
}

.info,
.twitter {
  position: fixed;
  top: 5px;
  right: 0;
  padding: 10px 10px 7px;
  z-index: 3;
  transition:
    opacity 300ms ease;
}

.info:hover,
.twitter:hover {
  opacity: 0.7;
}

@media screen and (max-width: 500px) {
  .info,
  .twitter {
    position: absolute;
    z-index: 2;
  }
}

@media screen and (max-width: 500px) {
 .info {
  right: 30px;
 } 
}

.twitter {
  top: 35px;
}

@media screen and (max-width: 500px) {
 .twitter {
  top: 5px;
 } 
}

.info svg,
.twitter svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(130, 91, 184, 0.9);
  display: none;
}

.modal {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 500px;
  margin: auto;
  padding: 20px 28px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 500px) {
  .modal {
    width: calc(100% - 40px);
  }
}

.modal__close {
  position: absolute;
  top: -10px;
  right: -1px;
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 50%;
  border: 0;
  background-color: #ff9c44;
  box-shadow: -1px 2px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition:
    background-color 300ms ease;
}

.modal__close:focus {
  outline: 0;
}

.modal__close:hover {
  background-color: #f78621;
}

.modal__close svg {
  fill: #fff;
}

.modal__content {
  color: #5d5d5d;
  font-family: Helvetica Neue, sans-serif;
  width: 100%;
  border: 0;
  font-size: 16px;
  text-align: center;
}

.modal__content:focus {
  outline: 0;
}
